complianceos-dashboard-report-workflow.json
{
  "name": "ComplianceOS Dashboard Report Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dashboard-report",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Dashboard Report Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "dashboard-report-webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/employees",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-employees",
      "name": "Fetch Employees Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/risk",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-risks",
      "name": "Fetch Risk Assessments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/equipment",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-equipment",
      "name": "Fetch Equipment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/calibration",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-calibrations",
      "name": "Fetch Calibrations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/nonconformance",
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-nonconformances",
      "name": "Fetch Non-Conformances",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive dashboard report\nconst employees = $input.first().json;\nconst risks = $input.all()[1].json;\nconst equipment = $input.all()[2].json;\nconst calibrations = $input.all()[3].json;\nconst nonconformances = $input.all()[4].json;\n\n// Calculate statistics\nconst totalEmployees = employees?.length || 0;\nconst totalRisks = risks?.length || 0;\nconst totalEquipment = equipment?.length || 0;\nconst totalCalibrations = calibrations?.length || 0;\nconst totalNonConformances = nonconformances?.length || 0;\n\n// Get current date\nconst reportDate = new Date().toLocaleDateString('en-AU', {\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\n// Generate HTML report\nconst htmlReport = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>ComplianceOS Dashboard Report</title>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 20px; background-color: #f8fafc; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px; }\n        .header h1 { margin: 0; font-size: 28px; }\n        .header p { margin: 5px 0 0 0; opacity: 0.9; }\n        .stats-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; margin-bottom: 30px; }\n        .stat-card { background: white; padding: 20px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); text-align: center; }\n        .stat-number { font-size: 32px; font-weight: bold; color: #667eea; margin-bottom: 5px; }\n        .stat-label { color: #64748b; font-size: 14px; }\n        .section { background: white; padding: 25px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 25px; }\n        .section h2 { color: #1e293b; margin-top: 0; border-bottom: 2px solid #e2e8f0; padding-bottom: 10px; }\n        .employee-list { display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 15px; }\n        .employee-card { background: #f8fafc; padding: 15px; border-radius: 8px; border-left: 4px solid #667eea; }\n        .employee-name { font-weight: bold; color: #1e293b; }\n        .employee-role { color: #64748b; font-size: 14px; margin-top: 5px; }\n        .risk-item { background: #fef2f2; border-left: 4px solid #ef4444; padding: 15px; margin: 10px 0; border-radius: 5px; }\n        .equipment-item { background: #f0f9ff; border-left: 4px solid #0ea5e9; padding: 15px; margin: 10px 0; border-radius: 5px; }\n        .nc-item { background: #fefce8; border-left: 4px solid #eab308; padding: 15px; margin: 10px 0; border-radius: 5px; }\n        .footer { text-align: center; color: #64748b; margin-top: 40px; padding-top: 20px; border-top: 1px solid #e2e8f0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>📊 ComplianceOS Dashboard Report</h1>\n        <p>Generated on ${reportDate}</p>\n        <p>Comprehensive overview of organizational compliance status</p>\n    </div>\n\n    <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">${totalEmployees}</div>\n            <div class=\"stat-label\">Total Employees</div>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">${totalRisks}</div>\n            <div class=\"stat-label\">Risk Assessments</div>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">${totalEquipment}</div>\n            <div class=\"stat-label\">Equipment Items</div>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">${totalCalibrations}</div>\n            <div class=\"stat-label\">Calibrations</div>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">${totalNonConformances}</div>\n            <div class=\"stat-label\">Non-Conformances</div>\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>👥 Employee Overview</h2>\n        <div class=\"employee-list\">\n            ${employees?.map(emp => `\n                <div class=\"employee-card\">\n                    <div class=\"employee-name\">${emp.firstName} ${emp.lastName}</div>\n                    <div class=\"employee-role\">${emp.position || 'Position not specified'}</div>\n                    <div class=\"employee-role\">${emp.department || 'Department not specified'}</div>\n                </div>\n            `).join('') || '<p>No employee data available</p>'}\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>⚠️ Risk Assessments</h2>\n        ${risks?.map(risk => `\n            <div class=\"risk-item\">\n                <strong>${risk.title || 'Untitled Risk'}</strong><br>\n                <small>Risk Level: ${risk.level || 'Not specified'} | Status: ${risk.status || 'Not specified'}</small>\n                ${risk.description ? `<br><small>${risk.description}</small>` : ''}\n            </div>\n        `).join('') || '<p>No risk assessment data available</p>'}\n    </div>\n\n    <div class=\"section\">\n        <h2>🔧 Equipment Status</h2>\n        ${equipment?.map(eq => `\n            <div class=\"equipment-item\">\n                <strong>${eq.name || 'Unnamed Equipment'}</strong><br>\n                <small>Type: ${eq.type || 'Not specified'} | Status: ${eq.status || 'Not specified'}</small>\n                ${eq.description ? `<br><small>${eq.description}</small>` : ''}\n            </div>\n        `).join('') || '<p>No equipment data available</p>'}\n    </div>\n\n    <div class=\"section\">\n        <h2>📋 Non-Conformances</h2>\n        ${nonconformances?.map(nc => `\n            <div class=\"nc-item\">\n                <strong>${nc.title || 'Untitled Non-Conformance'}</strong><br>\n                <small>Priority: ${nc.priority || 'Not specified'} | Status: ${nc.status || 'Not specified'}</small>\n                ${nc.description ? `<br><small>${nc.description}</small>` : ''}\n            </div>\n        `).join('') || '<p>No non-conformance data available</p>'}\n    </div>\n\n    <div class=\"footer\">\n        <p>This report was automatically generated by ComplianceOS Dashboard Report Generator</p>\n        <p>For questions or support, contact the ComplianceOS team</p>\n    </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    htmlReport: htmlReport,\n    reportDate: reportDate,\n    statistics: {\n      totalEmployees,\n      totalRisks,\n      totalEquipment,\n      totalCalibrations,\n      totalNonConformances\n    }\n  }\n};"
      },
      "id": "generate-report",
      "name": "Generate HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "fromEmail": "complianceos@chrisknill.app.n8n.cloud",
        "toEmail": "christopher.knill@gmail.com",
        "subject": "ComplianceOS Dashboard Report - {{ $json.reportDate }}",
        "message": "Please find attached the comprehensive ComplianceOS dashboard report.",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "send-email",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"Dashboard report generated and sent successfully\", \"reportDate\": \"{{ $json.reportDate }}\", \"statistics\": \"{{ $json.statistics }}\"}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 400]
    }
  ],
  "connections": {
    "Dashboard Report Trigger": {
      "main": [
        [
          {
            "node": "Fetch Employees Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Risk Assessments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Equipment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Calibrations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Non-Conformances",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Employees Data": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Risk Assessments": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Equipment Data": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Calibrations": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Non-Conformances": {
      "main": [
        [
          {
            "node": "Generate HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML Report": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "active": false,
  "createdAt": "2025-01-22T21:53:00.000Z",
  "updatedAt": "2025-01-22T21:53:00.000Z"
}