workflow_backup.json
{"createdAt":"2025-10-22T22:02:27.679Z","updatedAt":"2025-10-22T22:28:51.665Z","id":"fNekUoSHQEtyfNNQ","name":"ComplianceOS Dashboard Report Generator","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dashboard-report","options":{},"responseMode":"responseNode"},"id":"webhook-trigger","name":"Dashboard Report Trigger","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"dashboard-report-prod"},{"parameters":{"jsCode":"// Generate comprehensive dashboard report\nconst reportDate = new Date().toLocaleDateString(\"en-AU\", {\n  year: \"numeric\",\n  month: \"long\",\n  day: \"numeric\",\n  hour: \"2-digit\",\n  minute: \"2-digit\"\n});\n\n// Generate HTML report with mock data for now\nconst htmlReport = `\n<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <title>ComplianceOS Dashboard Report</title>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 20px; background-color: #f8fafc; }\n        .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; border-radius: 10px; margin-bottom: 30px; }\n        .header h1 { margin: 0; font-size: 28px; }\n        .header p { margin: 5px 0 0 0; opacity: 0.9; }\n        .stats-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; margin-bottom: 30px; }\n        .stat-card { background: white; padding: 20px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); text-align: center; }\n        .stat-number { font-size: 32px; font-weight: bold; color: #667eea; margin-bottom: 5px; }\n        .stat-label { color: #64748b; font-size: 14px; }\n        .section { background: white; padding: 25px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 25px; }\n        .section h2 { color: #1e293b; margin-top: 0; border-bottom: 2px solid #e2e8f0; padding-bottom: 10px; }\n        .footer { text-align: center; color: #64748b; margin-top: 40px; padding-top: 20px; border-top: 1px solid #e2e8f0; }\n        .link-button { display: inline-block; background: #667eea; color: white; padding: 8px 16px; text-decoration: none; border-radius: 5px; margin: 5px; }\n        .link-button:hover { background: #5a67d8; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>📊 ComplianceOS Dashboard Report</h1>\n        <p>Generated on ${reportDate}</p>\n        <p>Comprehensive overview of organizational compliance status</p>\n    </div>\n\n    <div class=\"stats-grid\">\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">25</div>\n            <div class=\"stat-label\">Total Employees</div>\n            <a href=\"http://localhost:3000/employees\" class=\"link-button\">View Employees</a>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">12</div>\n            <div class=\"stat-label\">Risk Assessments</div>\n            <a href=\"http://localhost:3000/risk\" class=\"link-button\">View Risks</a>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">8</div>\n            <div class=\"stat-label\">Equipment Items</div>\n            <a href=\"http://localhost:3000/equipment\" class=\"link-button\">View Equipment</a>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">15</div>\n            <div class=\"stat-label\">Calibrations</div>\n            <a href=\"http://localhost:3000/calibration\" class=\"link-button\">View Calibrations</a>\n        </div>\n        <div class=\"stat-card\">\n            <div class=\"stat-number\">3</div>\n            <div class=\"stat-label\">Non-Conformances</div>\n            <a href=\"http://localhost:3000/nonconformance\" class=\"link-button\">View NCs</a>\n        </div>\n    </div>\n\n    <div class=\"section\">\n        <h2>🔗 Quick Links</h2>\n        <p>Access key areas of ComplianceOS:</p>\n        <a href=\"http://localhost:3000/dashboard\" class=\"link-button\">Dashboard</a>\n        <a href=\"http://localhost:3000/employees\" class=\"link-button\">Employees</a>\n        <a href=\"http://localhost:3000/risk\" class=\"link-button\">Risk Management</a>\n        <a href=\"http://localhost:3000/equipment\" class=\"link-button\">Equipment</a>\n        <a href=\"http://localhost:3000/calibration\" class=\"link-button\">Calibrations</a>\n        <a href=\"http://localhost:3000/nonconformance\" class=\"link-button\">Non-Conformances</a>\n        <a href=\"http://localhost:3000/audits\" class=\"link-button\">Audits</a>\n        <a href=\"http://localhost:3000/training\" class=\"link-button\">Training</a>\n    </div>\n\n    <div class=\"footer\">\n        <p>This report was automatically generated by ComplianceOS Dashboard Report Generator</p>\n        <p>For questions or support, contact the ComplianceOS team</p>\n        <p><a href=\"http://localhost:3000/dashboard\" style=\"color: #667eea;\">View Live Dashboard</a></p>\n    </div>\n</body>\n</html>`;\n\nreturn {\n  json: {\n    htmlReport: htmlReport,\n    reportDate: reportDate,\n    statistics: {\n      totalEmployees: 25,\n      totalRisks: 12,\n      totalEquipment: 8,\n      totalCalibrations: 15,\n      totalNonConformances: 3\n    }\n  }\n};"},"id":"generate-report","name":"Generate HTML Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"sendTo":"christopher.knill@gmail.com","subject":"ComplianceOS Dashboard Report - {{ $json.reportDate }}","message":"Please find attached the comprehensive ComplianceOS dashboard report with direct links to all relevant pages.","options":{}},"id":"send-email","name":"Send Report Email","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[680,300],"credentials":{"gmailOAuth2":{"id":"nkUFnwYcVUWcdNGx","name":"Gmail account"}}},{"parameters":{"respondWith":"json","responseBody":"{\"success\": true, \"message\": \"Dashboard report generated and sent successfully\", \"reportDate\": \"{{ $json.reportDate }}\", \"statistics\": \"{{ $json.statistics }}\"}"},"id":"webhook-response","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,300]}],"connections":{"Dashboard Report Trigger":{"main":[[{"node":"Generate HTML Report","type":"main","index":0}]]},"Generate HTML Report":{"main":[[{"node":"Send Report Email","type":"main","index":0}]]},"Send Report Email":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveExecutionProgress":true,"saveManualExecutions":true},"staticData":null,"meta":null,"pinData":null,"versionId":"a85eb5bd-5831-4319-80fd-f9c879882cf0","triggerCount":1,"shared":[{"createdAt":"2025-10-22T22:02:27.682Z","updatedAt":"2025-10-22T22:02:27.682Z","role":"workflow:owner","workflowId":"fNekUoSHQEtyfNNQ","projectId":"ODw4EAnhEvbkXNOc","project":{"createdAt":"2025-10-17T19:47:41.121Z","updatedAt":"2025-10-17T19:47:44.352Z","id":"ODw4EAnhEvbkXNOc","name":"Chris Knill <chris.knill@metinspect.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-10-17T19:47:41.121Z","updatedAt":"2025-10-17T19:47:41.121Z","userId":"66140d53-7e73-4023-9407-4c111591607c","projectId":"ODw4EAnhEvbkXNOc","user":{"createdAt":"2025-10-17T19:47:39.677Z","updatedAt":"2025-10-22T08:22:39.000Z","id":"66140d53-7e73-4023-9407-4c111591607c","email":"chris.knill@metinspect.com","firstName":"Chris","lastName":"Knill","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"PgVqfcw0VPJ3EtSl","userActivatedAt":1761076798798},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-10-21","isPending":false}}]}}],"tags":[]}